	<tr>
	  <maly-if var="FORM{LINK_FIELD}">
	  <th class="header" align=left>
	    &nbsp;
	  </th>
	  </maly-if>
	  <th class="header" width="200" align="left">
	      <a href="#SEARCH_URL#sort=TITLE&desc=#DESC{TITLE}#">Title</a>
	  </th>
	  <th class="header" width="75" align="left">
	      <a href="#SEARCH_URL#sort=PMUID&desc=#DESC{PMUID}#">Manager</a>
	  </th>
	  <th class="header" width="75">
	      <a href="#SEARCH_URL#sort=PRIORITY&desc=#DESC{PRIORITY}#">Priority</a>
	  </th>
	  <th class="header" width="65" align=center>
	      <a href="#SEARCH_URL#sort=STARTDATE&desc=#DESC{STARTDATE}#">Start Date</a>
	  </th>
	  <th class="header" width="65" align=center>
	      <a href="#SEARCH_URL#sort=ENDDATE&desc=#DESC{ENDDATE}#">End Date</a>
	  </th>
	  <th class="header" width="75">
	      <a href="#SEARCH_URL#sort=STATUS&desc=#DESC{STATUS}#">Status</a>
	  </th>
	  <th class="header" width="20">
	      <a href="#SEARCH_URL#sort=PERCENT&desc=#DESC{PERCENT}#">%</a>
	  </th>
	  <th class="header" width="60">
	    Hrs
	  </th>
	</tr>
