<maly-if var="QUEUE">
<table border=0 cellspacing=0 cellpadding=1 width="100%">
<tr>
  <th width="10%"align=left>Prio.</th>
  <maly-if var="ALL">
    <th>Owner</th>
    <th width="50%">Name</th>
  <maly-else/>
    <th width="75%">Name</th>
  </maly-if>
  <th width="15%" align=left>Due</th>
</tr>

<maly-loop var="QUEUE" name="TASK" sort="DUEDATE,PRIORITY">
<maly-set var="BGCLASS" eval=1 value="'#MALYITER#' % 2 == 0 ? 'data1' : 'data2' "/>
<tr class="#TASK{OVERDUE_OPEN}##BGCLASS#">
  <td class="#PRIORITYCLASSMAP{#TASK{PRIORITY}#}# box">
    #TASK{PRIORITY}#
  </td>
  <maly-if var="ALL">
    <td>
      <a href="mailto:#TASK{OWNER}{EMAIL}#">#TASK{OWNER}{FULLNAME}#</a>
    </td>
  </maly-if>
  <td>
    <a href="Javascript:void(0)" onClick="editTaskPopup('#TASK{TID}#');">#TASK{TITLE}#</a>
  </td>
  <td>
    <nobr>#DATE:TASK{DUEDATE}#</nobr>
  </td>
</tr>
</maly-loop>

</table>

<maly-else/>
No items
</maly-if>
