<widget-listpage TABLE="PRODUCT_TUTORIAL">


  
    <maly-set var="CUSTOM_ONLOAD">
      <maly-loop sort="TUTORIAL_NUM" var="PRODUCT_TUTORIAL">
      set_select('PRODUCT_TUTORIAL[#MALYITER#]{TUTORIAL_NUM}', '#TUTORIAL_NUM#', '#MALYITERNUM#');
    </maly-loop></maly-set>

  

<maly-set var='CONTENT'>
  
    
      <form method=POST action='#PATHINFO_URL#'>
    
    
      <input name="VER_ID" type="hidden" value="#FORM{VER_ID}#">
    
  
  <widget-list>
<table border="0" width="100%">
  <tr>
    <th align="left" colspan="2">
    Product Tutorials List:
    </th>
  </tr>

  <tr>
    <th align="right" colspan="2">
      <a href="Javascript:void(0)" onclick="widgetPopup(&apos;#URL#/PRODUCT_TUTORIAL/Add?VER_ID=#FORM{VER_ID}#&apos;, &apos;add_PRODUCT_TUTORIAL_#FORM{VER_ID}#&apos;, 450, 550);">Add</a>
    </th>
  </tr>

  <tr>
    
    <th align="center">
      #
    </th>
    
    <th align="center">
      Title
    </th>
    
  </tr>

  
    <maly-loop var='PRODUCT_TUTORIAL' name='PRODUCT_TUTORIAL_ITEM' sort='TUTORIAL_NUM' loopvar='MITER'>
  
  
    <maly-set eval=1 value="'#MITER#' % 2 == 0 ? 'data1' : 'data2' " var="BGCLASS"></maly-set>

  

  <tr class="#BGCLASS#">
    
      
      <td align="center" class="#BGCLASS#" valign="top">
        
	  <input name="PRODUCT_TUTORIAL[#MITER#]{TUTORIAL_ID}" type="hidden" value="#PRODUCT_TUTORIAL_ITEM{TUTORIAL_ID}#">
	  <widget-editfield PREFIX="" PREFIXITER="\\#MITER\\#" TABLE="PRODUCT_TUTORIAL">

	  
	    <maly-set eval=1 value="'#MODE#' eq 'Multiedit' ? 1 : 0" var="PLUS"></maly-set>

	  
	  
	    
	      
	    
	  
	  <widget-select ID="PRODUCT_TUTORIAL[\#MITER\#]{TUTORIAL_NUM}" NAME="PRODUCT_TUTORIAL[\#MITER\#]{TUTORIAL_NUM}" PLUS="\#PLUS\#" TO="\#SCALAR:PRODUCT_TUTORIAL\#" VALUE="\#PRODUCT_TUTORIAL_ITEM{TUTORIAL_NUM}\#" VAR="PRODUCT_TUTORIAL[\#MITER\#]{TUTORIAL_NUM}">
<select id="PRODUCT_TUTORIAL[#MITER#]{TUTORIAL_NUM}" name="PRODUCT_TUTORIAL[#MITER#]{TUTORIAL_NUM}">
  
    
      <maly-loop from=1 name="NUM" plus="#PLUS#" to="#SCALAR:PRODUCT_TUTORIAL#">
        <option value="#NUM#">#NUM#</option>
      </maly-loop>

    
  

</select>

</widget-select>
	

</widget-editfield>
	
      </td>
    
      
      <td align="center" class="#BGCLASS#" valign="top">
        
	  <a href="Javascript:void(0)" onclick="widgetPopup(&apos;#URL#/PRODUCT_TUTORIAL/Edit?TUTORIAL_ID=#PRODUCT_TUTORIAL_ITEM{TUTORIAL_ID}#&apos;, &apos;edit_PRODUCT_TUTORIAL_#PRODUCT_TUTORIAL_ITEM{TUTORIAL_ID}#&apos;);">
	    <widget-viewfield>
        
	  #PRODUCT_TUTORIAL_ITEM{TITLE}#
	

</widget-viewfield>
	  </a>
	
      </td>
    
  </tr>

  
    </maly-loop>
  


  </table>

</widget-list>
  <div style="width: 100%">
    
      <div style="float: left">
        <input name="action" type="submit" value="Update">
      </div>
    

    <div style="float: right">
      <input onclick="closePopup()" type="submit" value="Close">
    </div>
  </div>

  
    
      </form>
    

  

</maly-set>

#include popup_main


</widget-listpage>
