#include top

<table border=1 cellspacing=0 cellpadding=5>
  <tr>
    <th colspan=2 align=center>
      <a href="#URL#/#SCOPE#/#PREV_YEAR#+#SMALL_DATE#">&lt;&lt;&lt;</a>
      &nbsp;
      <a href="#URL#/#SCOPE#/#PREV_MONTH#+#SMALL_DATE#">&lt;&lt;</a>
      &nbsp;
      <a href="#URL#/#SCOPE#/#PREV_DAY#+#SMALL_DATE#">&lt;</a>
      &nbsp;
      #DAYNAME#, #MONTHNAME# #DAY#, #YEAR#
      &nbsp;
      <a href="#URL#/#SCOPE#/#NEXT_DAY#+#SMALL_DATE#">&gt;</a>
      &nbsp;
      <a href="#URL#/#SCOPE#/#NEXT_MONTH#+#SMALL_DATE#">&gt;&gt;</a>
      &nbsp;
      <a href="#URL#/#SCOPE#/#NEXT_YEAR#+#SMALL_DATE#">&gt;&gt;&gt;</a>
    </th>
  </tr>
  <maly-loop name=HOUR var=HOURS>
  <maly-set var=CELLCOLOR eval=1>(#MALYITER# % 2 == 0) ? "data1" : "data2"</maly-set>
  <tr>
    <th>#HOUR#</th>
    <td class="largeday #CELLCOLOR#">
      &nbsp;
    </td>
  </tr>
  </maly-loop>

</table>

#include bottom
