<tr>
  <td class="transparent">
    &nbsp;
  </td>
  <td class="transparent">
    &nbsp;
  </td>
  <td class="transparent">
        <table border=0 cellspacing=0 cellpadding=0 width="#AXIS_WIDTH#">
	  <tr class="transparent">
	    <maly-loop name="AXIS_VALUE" var="AXIS">
	    <td align=left class="gantt_axis" style="width: #INT:DIV_WIDTH#px; font-size: 12px">#AXIS_VALUE#</td>
	    </maly-loop>
	  </tr>
	</table>
  </td>
  <td class="transparent">
      <a href="javascript:window.print()">Print</a>
  </td>
</tr>
