	<tr>
	  <maly-if var="FORM{LINK_FIELD}">
	  <th align=center>
	    &nbsp;
	  </th>
	  </maly-if>
	  <th class="header" align=center style="width: 25px">
	    ID
	  </th>
	  <th class="header" align=center style="width: 75px">
	    Priority
	  </th>
	  <th class="header" align=left>
	    Summary
	  </th>
	  <th class="header" align=center style="width: 100px">
	    Owner
	  </th>
	  <th class="header" align=center style="width: 100px">
	    Start Date
	  </th>
	  <th class="header" align=center style="width: 100px">
	    End Date
	  </th>
	  <th class="header" align=center style="width: 75px">
	    Status
	  </th>
	  <th class="header" align=center style="width: 20px">
	    %
	  </th>
	  <th class="header" align=center style="width: 20px">
	    Hrs
	  </th>
	</tr>
