	<tr>
	  <th class="header" align="center">
	      <a href="#SEARCH_URL#sort=TID&desc=#DESC{TID}#">ID</a>
	  </th>
	  <th class="header" width="80">
	      <a href="#SEARCH_URL#sort=PRIORITY&desc=#DESC{PRIORITY}#">Priority</a>
	  </th>
	  <th class="header" align="left">
	      <a href="#SEARCH_URL#sort=TITLE&desc=#DESC{TITLE}#">Title</a>
	  </th>
	  <th class="header" width="75" align="left">
	      <a href="#SEARCH_URL#sort=UID&desc=#DESC{UID}#">Owner</a>
	  </th>
	  <th class="header" width="75" align=center>
	      <a href="#SEARCH_URL#sort=DUEDATE&desc=#DESC{DUEDATE}#">Due Date</a>
	  </th>
	  <th class="header" width="75">
	      <a href="#SEARCH_URL#sort=STATUS&desc=#DESC{STATUS}#">Status</a>
	  </th>
	  <th class="header" width="75">
	    <a href="#SEARCH_URL#sort=CHANGED&desc=#DESC{CHANGED}#">Updated</a>
	  </th>
	  <th class="header">
	      <a href="#SEARCH_URL#sort=PERCENT&desc=#DESC{PERCENT}#">%</a>
	  </th>
	  <th class="header">
	      <a href="#SEARCH_URL#sort=HOURS&desc=#DESC{HOURS}#">Hrs</a>
	  </th>
	</tr>
